.venv/
dist/
target/

__pycache__/

libs/
build/
.idea/
_external/
desktop/apps/neuro-integration/*.exe
desktop/apps/neuro-integration/dist/*.exe
desktop/apps/neuro-desktop/target/**/*.exe
desktop/dist/**/*.exe
desktop/apps/process-handler/build-*/
desktop/apps/process-handler/build-ci/
desktop/apps/process-handler/build-ci-tests/
