.venv/
dist/

__pycache__/

libs/
build/
.idea/
_external/
desktop/apps/neuro-integration/*.exe
desktop/apps/neuro-integration/integration-code
desktop/apps/neuro-integration/integration-code.exe
desktop/apps/neuro-integration/dist/*.exe
desktop/dist/**/*.exe

# Runtime state written by the bridge (installed extensions, relay tokens). Never commit it.
**/catalog/extensions-state.json
relay-token
**/relay-token
*.tsbuildinfo
